@charset "utf-8";

/* ページタイトルエリアの設定 */
.title{
    height: 310px;
    background-image: url(../images/menu/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h2{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p{
    font-size: 14px;
    margin-top: 15px;
}

.item-list{
    width: 930px;
    max-width: 90%;
    margin: 75px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,240px);
    column-gap: 95px;
    row-gap: 70px;
    justify-content: center;

    /* width: 930px;
    max-width: 90%;
    margin: 75px auto 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-evenly;
    row-gap: 5vw; */
}

.item-list dl{
    margin-top: 20px;
}

.item-list dt{
    font-weight: bold;
}

.item-list dd{
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}

.item-list .price{
    font-weight: bold;
    margin-top: 15px;
}

.item-list li{
    /* width: 28%; */
    position: relative;
}

.item-list li:nth-child(5){
    order: -1;
}

.item-list .item-label{
    position: absolute;
    top: 0;
    left: calc(100% + 18px);
    font-size: 10px;
    white-space: nowrap;
    transform-origin: top left;
    transform: rotate(90deg);
}

.footer{
    margin-top: 100px;
}

@media (max-width: 800px) {
    .item-list{
        margin-top: 45px;
        row-gap: 40px;
    }
}